<div *ngIf="pasta">
  <h2>{{pasta.name | uppercase}} Details</h2>
  <div id="inputs">
    <label>name:
      <input [(ngModel)]="pasta.name" placeholder="name">
    </label>
    <label>price: $
      <input [(ngModel)]="pasta.price" placeholder="price">
    </label>
    <label>state:
      <input [(ngModel)]="pasta.state" placeholder="state">
    </label>
    <label>description:
      <input [(ngModel)]="pasta.description" placeholder="description">
    </label>
  </div>
</div>
<button (click)="goBack()" class="back">go back</button>
<button (click)="save()" class="save">save</button>
