* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#summary-table {
  font-family:  Montserrat, Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 15px;
}
h2 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
  margin: 0;
}
h3 {
  font-family: Montserrat, Arial, sans-serif;
}
td,  th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FF9C23;
  color: white;
}
.summary-form {
  max-width: 670px;
  width: 100%;
  padding: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      text-align: left;
    }
  }

  .form-control {
    display: block;
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #d2d2d2;
    border-left-width: 5px;

    &:focus {
      border-color: #23B7FF;
    }
  }

  .ng-valid[required],
  .ng-valid.required  {
    border-left-color: #42A948; /* green */
  }

  .has-error {
    .form-control {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .ng-invalid {
      border-left-color: #a94442; /* red */
    }

    .alert {
      border: 1px solid #a94442;
      border-top-color: transparent;
      border-left-width: 5px;
      margin-top: -2px;
      padding: 8px 0;
      font-size: 12px;
      border-bottom-left-radius: 4px;

      ul {
        color: #a94442;
        text-align: left;
        margin: 0;
      }
    }
  }
}
button.submit {
  background-color: #08CCA2;
  border: none;
  color: white;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 0.2em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}
button.submit:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24),0 10px 30px 0 rgba(0,0,0,0.19);
}
