<h2>Cart</h2>

<div style="overflow-x: auto">
  <table id="food-table" class="center-table">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th class="count">Price</th>
    <th></th>
  </tr>
  <ng-container *ngFor="let product of products; let i = index;">
    <tr>
      <td>{{ i + 1}}</td>
      <td>
        {{ product.name }}
      </td>
      <td>
        {{ product.description }}
      </td>
      <td>{{product.type }}</td>
      <td>${{product.price }}</td>
      <td><button (click)="removeProductFromCart(product, i)" class="remove">remove</button></td>
    </tr>
  </ng-container>
  <tfoot>
    <tr>
      <td>Sum:</td>
      <td colspan="5" align="left">
        ${{ getTotalPrice() }}
      </td>
    </tr>
  </tfoot>
</table>
</div>
<button (click)="goBack()" class="back">go back</button>

<button routerLink="/summary" class="order">order</button>
