
<div *ngIf="drink">

  <h2>{{drink.name | uppercase}} Details</h2>

  <div id="inputs">
    <label>name:
      <input [(ngModel)]="drink.name" placeholder="name">
    </label>
    <label>price: $
      <input [(ngModel)]="drink.price" placeholder="price">
    </label>
    <label>state:
      <input [(ngModel)]="drink.state" placeholder="state">
    </label>
    <label>description:
      <input [(ngModel)]="drink.description" placeholder="description">
    </label>
  </div>
</div>
<button (click)="goBack()" class="back">go back</button>
<button (click)="save()" class="save">save</button>
