<div>
<img src="../../assets/olive.panorama.png">
</div>

<div id="container">
  <h3>Menu</h3>
  <div class="grid grid-pad">
    <a class="col-1-4"
       routerLink="/pizzas">
      <div class="module dish">
        <h4>PIZZAS</h4>
      </div>

    </a>
    <a class="col-1-4"
       routerLink="/pastas">
      <div class="module dish">
        <h4>PASTAS</h4>
      </div>

    </a>
    <a class="col-1-4"
       routerLink="/drinks">
      <div class="module dish">
        <h4>DRINKS</h4>
      </div>

    </a>
  </div>
</div>


