
h1 {
  color: #7F4E11;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #7F4E11;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0;
  background-color: #F5F5F5;
}
body, input[text], button {
  color: #888;
  font-family: Prata, Georgia, serif;
}
/* everywhere else */
* {
  font-family:  Montserrat, Arial, sans-serif;
}
