<h2>Our Pastas</h2>
<div style="overflow-x: auto">

<table id="food-table" class="center-table">
  <thead>
  <tr>
    <th>#</th>
    <th>name</th>
    <th>description</th>
    <th>price</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let pasta of pastas; let i = index;">
    <td>{{ i + 1 }}</td>
    <td>{{ pasta.name }}</td>
    <td>{{ pasta.description }}</td>
    <td>${{ pasta.price }}</td>
    <td>
      <button type="button" (click)="addToCart($event, pasta)" class="add">add to cart</button>
    </td>
  </tr>
  </tbody>
</table>
</div>
<button (click)="goBack()" class="back">go back</button>
